body {
    background-color: rgba(253, 255, 157);
    /* overflow:hidden;  */
    width:100%;
}

html {
    /* overflow:hidden;  */
    width:100%; 
}

.jumbotron {
    background-color: rgba(243, 94, 26, 0.747); 
    color: rgb(213, 250, 3);
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    padding: 0px;
    margin-top: 53px;
}

.container-content{
    flex-direction: column-reverse;
}
#playlist {
    /* height: 100%; */
    overflow-y: scroll;
    padding-left:0px;
    padding-right:0px;
    display: inline-block;
    position: sticky;
}

.btn {
    width: 175px;
    height: 70px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
}

/* Selected filter buttons */
.btn-warning:not(:disabled):not(.disabled).active {
box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
}

#next-button, #previous-button, #shuffle-button {
    height: 50px;
    width: 29%;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#next-button:hover, #previous-button:hover, #shuffle-button:hover {
    background-color: #ffc107;
}

#like-unlike{
    padding-left:10%;
}

#next-button:disabled, #previous-button:disabled, #shuffle-button:disabled{
    background-color: rgba(128, 128, 128, 0.342);
}

#add-button, #remove-button {
    width: 150px;
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    height: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#add-button:hover, #remove-button:hover {
    background-color: #ffc107;
}

#add-button:disabled, #remove-button:disabled {
    background-color: rgba(128, 128, 128, 0.342);
}

.current-playlist {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color: #ffc107;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: .25rem;
    cursor: pointer;
    height: 80px;
    width: 98%;
    vertical-align: center;
    padding: 14px;
    padding-top: 25px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.playing {
    background-color:  rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
    color: rgb(189, 4, 4);
}

.current-playlist:hover {
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
}

#description-div {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color:rgba(243, 94, 26, 0.747); 
    height: 100%;
    padding: 5px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 15px; 
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:0%;
    width:100%;
}

#audioPlayer {
    width: 90%;
    margin-top:10px;
    margin-bottom: 10px;
}

#heart{
    float: right;
    color: rgba(255, 0, 0, 0.575);
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 0px;
}

.navbar-nav{
    float: center;
    flex-direction: row;
}

.modal-dialog {
    justify-content: center;
    margin-top: 250px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(243, 95, 26); 
    padding-top: 25px;
}
.modal-body{
    background-color: rgba(251, 255, 0, 0.384);
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    border-radius: 5px;
    padding-top: 30px;
}

.navbar-brand:hover{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: default;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.audio-container {
    position: fixed;
    z-index: 500;
    top: 54px;
    min-height: 120px;
    background-color: rgba(253, 255, 157);
    padding-bottom: 5px;
    width:100%;
}

.dropdown-menu{
    z-index: 5001;
}

.collapse:not(.show){
    display: inline-block;
}

.navbar-collapse{
    flex-basis: auto;
}

.navbar-nav .dropdown-menu {
    position: absolute;
    float: none;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    padding-left: 0;
}

#formSubmitButton {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color: #ffc107;
    margin-left: 2px;
    margin-right:2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .25rem;
    cursor: pointer;
    height: 60px;
    width: 100px;
    vertical-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right:10px;
    padding-left:10px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    z-index: 20;
}

#formSubmitButton:hover {
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
}

#form{
    font-family: 'Hind Madurai', sans-serif;
}

.formBox{
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color: #ffc107;
    border-radius: .25rem;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    vertical-align: text-top;
    width: 100%;
}

.formBox:hover {
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
}