body {
    background-color: rgba(251, 255, 0, 0.384);
}

.jumbotron {
    background-color: rgba(243, 94, 26, 0.747); 
    color: rgb(213, 250, 3);
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 110px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.btn {
    width: 175px;
    height: 70px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
}

/* Selected filter buttons */
.btn-warning:not(:disabled):not(.disabled).active {
box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
}

#next-button, #previous-button, #shuffle-button {
    height: 100px;
    width: 220px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#next-button:hover, #previous-button:hover, #shuffle-button:hover {
    background-color: #ffc107;
}

#next-button:disabled, #previous-button:disabled, #shuffle-button:disabled{
    background-color: rgba(128, 128, 128, 0.342);
}

.current-playlist {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color: #ffc107;
    margin: 4px;
    border-radius: .25rem;
    cursor: pointer;
    height: 100px;
    vertical-align: center;
    text-align: center;
    padding-top: 20px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 40px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.playing {
    background-color:  rgba(243, 94, 26, 0.747); 
    border-radius: 15px;
    font-weight: bold;
}

.current-playlist:hover {
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 15px;
}

#description-div {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color:rgba(243, 94, 26, 0.747); 
    margin: 10px;
    border-radius: .25rem;
    height: 150px;
    padding-left: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 30px;
}

#audioPlayer {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    width: 95%;
}