body {
    background-color: rgba(253, 255, 157);
}
.jumbotron {
    background-color: rgba(245, 135, 59);
    color: rgb(213, 250, 3);
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 100px;
    padding: 0px;
    margin-top: 53px;
    position: sticky;
    z-index: 500;
    top: 54px;
    min-height: 80px;
    margin-bottom: 0px;
}

.btn {
    width: 175px;
    height: 70px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
}

/* Selected filter buttons */
.btn-warning:not(:disabled):not(.disabled).active {
box-shadow: 0 0 0 0.2rem rgba(222,170,12,.5);
}

#next-button, #previous-button, #shuffle-button {
    height: 50px;
    width: 120px;
    margin-top: 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#next-button:hover, #previous-button:hover, #shuffle-button:hover {
    background-color: #ffc107;
}

#next-button:disabled, #previous-button:disabled, #shuffle-button:disabled{
    background-color: rgba(128, 128, 128, 0.342);
}

#like-unlike{
    padding-left:10%;
}

#add-button, #remove-button {
    width: 150px;
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    height: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#add-button:hover, #remove-button:hover {
    background-color: #ffc107;
}

#add-button:disabled, #remove-button:disabled {
    background-color: rgba(128, 128, 128, 0.342);
}

.current-playlist {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color: #ffc107;
    margin: 2px;
    border-radius: .25rem;
    cursor: pointer;
    height: 60px;
    vertical-align: center;
    padding: 14px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    z-index: 20;
}

.playing {
    background-color:  rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
    color: rgb(189, 4, 4);
}

#playlist {
    height: 365px;
    overflow-y: overlay;
    margin-right:25px;
}

::-webkit-scrollbar {
    display:none;
}

.current-playlist:hover {
    background-color: rgba(243, 94, 26, 0.747); 
    border-radius: .25rem;
}

#description-div {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    background-color:rgba(243, 94, 26, 0.747); 
    margin: 2px;
    border-radius: .25rem;
    height: auto;
    padding: 10px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 20px;
    margin-top: 20px; 
    /* margin-left:25%; */
    width:100%;
    max-width: 500px;
    min-height: 125px;
}

#audioPlayer {
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    border-radius: 30px;
    width: 100%;
    margin-top:0px;
}

#heart{
    float: right;
    color: rgba(255, 0, 0, 0.575);
}

.navbar{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 0px;
}

.navbar-nav{
    float: center;
}

.modal-dialog {
    justify-content: center;
    margin-top: 250px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 25px;
    text-align: center;
    color: rgb(243, 95, 26); 
    padding-top: 25px;
}
.modal-body{
    background-color: rgba(251, 255, 0, 0.384);
    border: 1px solid;
    border-color:  rgba(243, 94, 26, 0.747); 
    border-radius: 5px;
    padding-top: 30px;
}

.navbar-brand:hover{
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    cursor: default;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.audio-container {
    /* position: sticky; */
    /* z-index: 500; */
    top: 204px;
    min-height: 80px;
    background-color: rgba(253, 255, 157);
    padding-top: 0px;
    padding-bottom: 20px;
    width:500px;
    margin-top:30px;
}

.dropdown-menu{
    z-index: 5001;
}

#navbarNavDropdown{
    z-index: 5001;
}

#audio-player-controls {
    padding-top:10px;
}

